<form role="form" name="formLogin" id="login-form" ng-submit="login()">
    <div class="row" ng-repeat="error in errors">
        <div class="alert alert-danger">
            {{error}}
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="username" placeholder="username" required />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" ng-model="password" placeholder="password" required/>
    </div>
    <div class="form-group checkbox">
        <label class="pull-right">
            <input type="checkbox" id="login-form-remember-me-checkbox" ng-model="persist" />
            Remember Me
        </label>
    </div>
    <button type="Submit" class="btn btn-success btn-block" ng-disabled="formLogin.$invalid || !buttonEnabled">Log In</button>
</form>